---
layout: default
permalink: "/research/"
title: Research
---
<!-- Intro -->
<section id="project-intro" class="intro">
  <h1>Standing on the Shoulders<br>of Giants</h1>
</section>

<!-- Project Gallery -->
<section id="research" class="main-section section-white research">
  <div class="research">
    <div>
      <h2>Overview</h2>
      <p>
        Broadly, my research interests are in computational and mathematical science.
        I have worked in areas such as non-convex optimization, deep learning, data
        compression, and algorithmic economics. I appreciate both the theory and application
        side of problems, which is to say I enjoy both proving a theorem and programming a
        software package.
      </p>
    </div>

    <div>
      <h2>Papers & Publications</h2>
      {% include paper-list.html %}
    </div>

    <div id="software">
      <h2>Software</h2>
      {% include software-grids.html %}
    </div>
  </div>
</section>
