<section class="construction">
  <button type="button" class="btn-construction" data-toggle="modal" data-target="#exampleModal">
    Under Construction
  </button>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Website Currently Under Construction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hello, this website is still in development. Please pardon some of the
        current poor design choices, and a lack of material. 
        Try putting the window as a half scrren. Check back soon!
      </div>
    </div>
  </div>
</div>
