<div class="paper-list">
    <ul>
        {% for paper in site.papers reversed %}
            <li>
                <div class="paper-details">
                    <h3>
                        <a href="{{ paper.url }}">{{ paper.title }}</a>
                    </h3>
                    <ul>
                        <li>
                            {{ paper.authors }}
                        </li>
                        <li>
                            ({{ paper.year }}).
                        </li>
                        <li>
                            {{ paper.type }}
                        </li>
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>