<div id="{{ include.type | default: 'default'}}-grid" class="project-grid" style="display: {{ include.display | default: 'none'}};">
  {% case include.type %}
    {% when 'default' %}
      {% assign collections=site.collections | where_exp: "item", "item.label != 'posts'" %}

      {% assign projects='' | split: '' %}
      {% for c in collections %}
        {% assign p=c.docs | where: "noteworthy", "true" %}
        {% assign projects=projects | concat: p %}
      {% endfor %}

    {% when 'research' %}
      {% assign projects=site.research-projects %}

    {% when 'class' %}
      {% assign projects=site.class-projects %}

    {% when 'personal' %}
      {% assign projects=site.personal-projects %}

  {% endcase %}

  {% for item in projects %}
    <div class="project-tile">
      <div class="tile-inner">
        <div class="tile-front" style="--image-path: url({{ item.image }})">
          <h3>{{ item.slug }}</h3>
        </div>
        <div class="tile-back">
          <p>{{ item.summary }}</p>
          <a href="{{ item.url }}">
            Read More
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
