//Common stylings for all pages

//Color Pallete
// Orange: #FFA500
// White: #FFFFFF
// Light Blue: #D3EAF5
// Blue: #8BC8E0
// Dark Blue: #334561

// Header
// This style the header at top of all pages
header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Ubuntu', sans-serif;

  ul{
    padding: 0;
    padding-top: 1em;
  }

  li{
    display: inline;
    margin: 50px;

    a{
      color: black;
      text-decoration: none;
      font-size: 1.5em;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .current{
    color: orange;
  }


}

body{
  position: relative;
  width: 100%;
  display: block;
  color: black;
  font-family: 'Roboto', sans-serif;
}

//Footer
//This styles the footer at the bottom of all pages.
footer{
  background-color: gray;
  display: grid;
  background-color: #334561;
  text-align: center;

  hr{
    width: 50%;
    border-width: 5px;
    background: black;
  }
}

h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Audiowide', cursive;
}

*, *:before, *:after{
  box-sizing: border-box;
}

//Intro and Section
//This style the intro and main sections on the
//home, projects, and blog pages.
.intro{
  position: relative;
  padding: 6em 0 9em 0;
  text-align: center;
  color: black;
  overflow: hidden;

  h1, p{
    position: relative;
    z-index: 2;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: var(--image-path);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//Section Tab
//This styles the rounded section tabs that stick up on the pages.
.section-tab{
  //General
  position: absolute;
  left: 50%;
  width: 25em;
  height: 3.0em;
  top: -3.0em;
  line-height: 3.0em;
  // margin-bottom: -3em;
  margin-left: -12.5em;
  z-index: 3;

  //Text
  text-align: center;
  color: black;
  font-size: 1.5em;
  padding-bottom: 5em;
  font-family: 'Ubuntu', sans-serif;

  //Box
  background-color: white;
  border-radius: 20px;
}

.main-section{
  justify-content: center;
  position: relative;
  padding: 3em 0 6em 0;
  background-color: white;
  text-align: center;
}

.construction{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: x-large;

  &:hover{
    text-decoration: underline;
  }

  .btn-construction{
    background-color: #D3EAF5;
    
  }
}
