////////////////////////////////////////////////////////////////////////////////
//Stylings for homepage

// Contact Section
// This styles the contact section on homepage
.contact{
  form{
    text-align: center;
  }

  input[type=text]{
    padding: 10px;
    margin: 10px 0;
    border-radius:10px;
    border: none;
  }

  textarea{
    width:75%;
    padding:15px;
    border-radius:15px;
    height:150px;
    border: none;
  }

  ul{
    padding: 0;
  }

  li{
    display: inline;
    margin: 50px;
  }

  input[type=submit], input[type=reset]{
    border-radius:10px;
    border: none;
    width: 6em;
    height: 3em;
  }
}
