//Common stylings for all pages

@import 'globals';

// Header
// This style the header at top of all pages
header{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Ubuntu', sans-serif;

  ul{
    padding: 0;
    padding-top: 1em;
  }

  li{
    display: inline;
    margin: 50px;

    a{
      color: inherit;
      text-decoration: none;
      font-size: 1.5em;

      &:hover{
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .current{
    color: $orange;
  }
}

body{
  position: relative;
  width: 100%;
  display: block;
  color: black;
  font-family: 'Roboto', sans-serif;
}

//Footer
//This styles the footer at the bottom of all pages.
footer{
  display: grid;
  background-color: $dark-blue;
  text-align: center;
  color: white;
  padding-top: 1em;

  hr{
    width: 50%;
    border-width: 3px;
    background: $orange;
  }
}

h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Audiowide', cursive;
}

*, *:before, *:after{
  box-sizing: border-box;
}

//Intro
//This style the intro and main sections on the
//home, projects, and blog pages.
.intro{
  position: relative;
  padding: 6em 0 9em 0;
  text-align: center;
  color: black;
  overflow: hidden;

  h1, p{
    position: relative;
    z-index: 2;
  }

  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: var(--image-path);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//Main Section and Section Tab
//This styles the rounded section tabs that stick up on the pages.
.main-section{
  justify-content: center;
  position: relative;
  padding: 3em 0 6em 0;
  text-align: center;
}

.section-tab{
  //General
  position: absolute;
  left: 50%;
  width: 25em;
  height: 3.0em;
  top: -3.0em;
  line-height: 3.0em;
  // margin-bottom: -3em;
  margin-left: -12.5em;
  z-index: 3;

  //Text
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 5em;
  font-family: 'Ubuntu', sans-serif;

  //Box
  border-radius: 20px;
}

.section-white{
  color: black;
  background-color: white;
}

.section-dark-blue{
  color: white;
  background-color: $dark-blue;
}

.section-blue{
  color: white;
  background-color: $blue;
}

.section-light-blue{
  color: black;
  background-color: $light-blue;
}

.closed{
  padding-bottom: 2.5em;
}

.last{
  padding-bottom: 2em;
}

//Construction banner
.construction{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: x-large;

  &:hover{
    text-decoration: underline;
  }

  .btn-construction{
    background-color: $light-blue;
    
  }
}
