//Stylings for homepage

@import 'globals'; //Import global vars (i.e. colour scheme)

//About Me section
//This styles the about me area on the homepage
.about-me{
  padding: 0;
  max-width: 75%;
  margin: 0 auto;

  img{
    float: left;
    margin: 0 2em 0 0;
    border-radius: 50%;
  }

  p{
    text-align: left;
  }

  ul{
    padding: 2em 0 0 0;
    margin: 0;

    li{
      display: inline-block;
      margin: 0 2em 0 2em;

      a{
        color: inherit;
        text-decoration: none;
        font-size: 1.5em;

        &:hover{
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }
}
