//Stylings for homepage

@import 'globals'; //Import global vars (i.e. colour scheme)

//About Me section
//This styles the about me area on the homepage
.about-me{
  display: grid;
  padding: 2em;
  grid-template-columns: 300px 1fr;
  gap: 1em;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;

  img{
    border-radius: 50%;
  }

  p{
    text-align: left;
  }
}
