////////////////////////////////////////////////////////////////////////////////
//Stylings for main projects page

@import 'globals'; //Import global vars (i.e. colour scheme)

//Grid and project tiles
.project-grid{
  background-color: inherit;
  display: grid;
  justify-items: center;

  //Grid sizing for tiles
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;

  //Individual project tiles
  .project-tile{
    background-color: inherit;

    width: 300px;
    height: 200px;
    perspective: 1000px;
    z-index: 4;

    .tile-inner{
      background-color: inherit;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &:hover .tile-inner{
      transform: rotateY(180deg);
    }

    //Front of tiles
    .tile-front{
      color: black;
      align-items: center;
      justify-content: center;
      display: flex;

      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.4;
        background-image: var(--image-path);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    //Back of tiles
    .tile-back{
      background-color: inherit;
      color: black;
      transform: rotateY(180deg);

      a{
        color: $orange;
      }
    }

    .tile-front, .tile-back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      padding: 1em;
    }

  }
}

//For the closed project sections
.closed{
  padding-bottom: 2.5em;
}

//For the last project section
.last{
  padding-bottom: 2em;
}

////////////////////////////////////////////////////////////////////////////////
//Stylings for individual project pages

.project-background{
  margin-left: 5%;
  margin-right: 5%;

  background-color: lightgrey;
}

.project-title{
  padding-top: 1em;
  margin-left: 1%;
}

.project-content{
  text-align: center;
  padding-bottom: 1em;
}
