//Stylings for research page

@import 'globals'; //Import global vars (i.e. colour scheme)

.research{
  width: 80%;
  max-width: 80em;
  margin: auto;

  h2{
    text-align: left;
    padding-bottom: 0.5em;
  }

  p{
    font-size: larger;
    text-align: left;
  }
}

.paper-list{
  text-align: left;

  ul{
    list-style-type: none;

    li{
      padding-bottom: 1em;
    }

    li:last-child{
      padding-bottom: 0;
    }

    ul{

      li{
        display: inline-block;
      }
    }
  }
  
  a{
    &:hover{
      color: $orange;
      text-decoration: underline;
    }
  }
}

//Grid and project tiles
.software-grid{
  background-color: inherit;
  display: grid;
  justify-items: center;

  //Grid sizing for tiles
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;

  //Individual project tiles
  .project-tile{
    background-color: inherit;

    width: 300px;
    height: 200px;
    perspective: 1000px;
    z-index: 4;

    .tile-inner{
      background-color: inherit;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    &:hover .tile-inner{
      transform: rotateY(180deg);
      cursor: pointer;
    }

    //Front of tiles
    .tile-front{
      align-items: center;
      justify-content: center;
      display: flex;

      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.4;
        background-image: var(--image-path);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    //Back of tiles
    .tile-back{
      background-color: $dark-blue;
      color: white;
      transform: rotateY(180deg);

      a{
        color: $blue;
        text-decoration: underline;
      }
    }

    .tile-front, .tile-back{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      padding: 1em;
    }

  }
}

//For the closed project sections
.closed{
  padding-bottom: 2.5em;
}

//For the last project section
.last{
  padding-bottom: 2em;
}

////////////////////////////////////////////////////////////////////////////////
//Stylings for individual project pages

.paper-title{
  ul{
    margin: 0;
    padding: 0;

    li{
      padding: 0;
      display: inline-block;
    }
  }
}

.paper-content{
  width: 80%;
  max-width: 80em;
  margin: auto;

  h2{
    text-align: left;
    padding-bottom: 0.5em;
  }

  p{
    font-size: larger;
    text-align: left;
  }
}

.paper-links{
  text-align: center;

  ul{
    padding-top: 2em;

    li{
      display: inline-block;
      margin-inline: 0.5em;

      a{
        color: inherit;
    
        &:hover{
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }
}

.paper-link-button{
  border-radius: 25px;
  border-color: $dark-blue;
  background-color: $dark-blue;
  color: white;

  font-size: 1.5em;

  &:hover{
    background-color: $orange
  }
}