{% include head.html %}
<body>
    {% include header.html %}
    <section id="home-intro" class="intro">
      <div class="project-title">
        <h2>{{ page.title }}</h2>
        <ul>
          <li>{{ page.type }}</li>
        </ul>
      </div>
    </section>

    <div class="project-background">
      <div class="project-content">
        {{ content }}
        {% if page.pdf %}
          <object data="{{ page.pdf }}" width="1000" height="1000" type='application/pdf'></object>
        {% endif %}
      </div>
    </div>

{% include footer.html %}
</body>
</html>
